# Dependencies
node_modules/
jspm_packages/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output
*.lcov

# Build outputs
dist/
build/
.next
out
.cache
.parcel-cache
.nuxt
.svelte-kit/
.vitepress/
.docusaurus/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.vscode-test/

# Misc
*.tgz
*.tsbuildinfo
.vercel
.env*.local
